<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="root">
        <div>
            <input v-model="inputValue"/>
            <button @click="handleSubmit">提交</button>
            <ul>
                <todo-item v-for="(item, index) of list" :key="index" :content="item"></todo-item>
            </ul>
        </div>  
    </div>

    <script>

        Vue.component('todo-item', {
            props: ['content'],
            template: '<li @click="handelClick">{{content}}</li>',
            methods: {
                handelClick: function() {
                    alert('clicked')
                }
            }
        })

        
        new Vue({
            el: "#root",
            data: {
                inputValue: '',
                list: []
            },
            methods: {
                handleSubmit: function() {
                    this.list.push(this.inputValue)
                    this.inputValue = ''                }
            }
        })
    </script>
</body>
</html>